<div class="row evt-details-container" id="events_div">
    <div name="11" class="col-lg-3 col-md-3 col-sm-6 text-center evt_div"><img class="img-responsive"
        src="https://career180.co/larademy/laravel/uploads/a7cf5915213c2a222df0f36d0a7d5e1edm.jpeg">
      <h5 class="evt-tit"><b>Digital Marketing Talent Program</b></h5>
      <p class="text-center small">From: <b>6-4-2019</b> To: <b>9-4-2019</b></p>
      <p class="text-center small"><b>500 </b>Pts</p>
      <p class="text-center"><a class="btn btn-primary btn-blocl">more details</a></p>
    </div>
  </div>