<div class="container-fluid land-container">
    <div class="row landscape-container">
      <div class="col-lg-3 col-md-3"></div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 landscape-content-div">
        <h1>EXPLORE YOUR CAREER</h1>
        <br>
        <span>Select Your Career :</span>
        <select name="career-options" id="c-options">
          <option selected="" disabled="">Select Section</option>
        </select>
        <h4>Ask any questions for help
          <a href="question.html">
            <b>Q&amp;A's</b>
          </a>
        </h4>
        <h4>Meet your expert
          <a href="expert.html">
            <b>FIND AN EXPERT</b>
          </a>
        </h4>
      </div>
      <div class="col-lg-3 col-md-3"></div>
    </div>
  </div>