<nav class="navbar sticky-top navbar-expand-lg justify-content-between">
  <!-- logo and sign up button -->
  <a class="navbar-brand" href="#">
    <img src="assets/logo1.png" class="d-inline-block align-top" alt="">
    <a class="btn login-btn">Sign In / Up <fa name="user"></fa></a>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- linkes to pages -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav nav ml-auto menu-txt">
      <li class="nav-item menu-items">
        <a class="nav-link active" routerLink="/chome" routerLinkActive="active">Career</a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" routerLink="/cexperts" routerLinkActive="active">Find an expert</a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" routerLink="/cquestions" routerLinkActive="active">Q&A's</a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" routerLink="/cevents" routerLinkActive="active">Our Events</a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" routerLink="/cpoints" routerLinkActive="active">Redeem Points</a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" routerLink="/cabout" routerLinkActive="active">About Us</a>
      </li>
    </ul>
  </div>
</nav>