<div class="container-fluid content-div">
    <div class="row first-div ins-container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <!-- <h2 class="ins-title">Insights</h2> -->
          <h3 class="evt-title">
            <b>Insights</b>
          </h3>
          <br>
          <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" style="text-align:-webkit-center;">
              <div class="in-cell">
                <img src="../../assets/aud.png" class="im-responsive img-cell " style="display: inline;">
                <p class="txt-cell" style="display: block;"><span class="num-cell" style="opacity: 1;">12000
                    +</span><br>Attendees</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" style="text-align:-webkit-center;">
              <div class="in-cell">
                <img src="../../assets/spe.png" class="im-responsive img-cell " style="display: inline;">
                <p class="txt-cell" style="display: block;"><span class="num-cell" style="opacity: 1;">350 +</span><br>
                  Speakers &amp;
                  Mentors</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" style="text-align:-webkit-center;">
              <div class="in-cell">
                <img src="../../assets/com.png" class="im-responsive img-cell " style="display: inline;">
                <p class="txt-cell" style="display: block;"><span class="num-cell2" style="opacity: 1;">130K +</span><br>
                  Community
                  members</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" style="text-align:-webkit-center;">
              <div class="in-cell">
                <img src="../../assets/wor.png" class="im-responsive img-cell " style="display: inline;">
                <p class="txt-cell" style="display: block;"><span class="num-cell" style="opacity: 1;">300 +</span><br>
                  Workshops</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" style="text-align:-webkit-center;">
              <div class="in-cell">
                <img src="../../assets/eve.png" class="im-responsive img-cell " style="display: inline;">
                <p class="txt-cell" style="display: block;"><span class="num-cell" style="opacity: 1;">25 +</span><br>
                  Events and
                  programs</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12" style="text-align:-webkit-center;">
              <div class="in-cell">
                <img src="../../assets/spo.png" class="im-responsive img-cell " style="display: inline;">
                <p class="txt-cell" style="display: block;"><span class="num-cell" style="opacity: 1;">60 +</span><br>
                  Sponsors and
                  partners</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
